@import "../../Scss/reset";

.project__section {
  padding-top: 5vh;
  position: relative;
  overflow: hidden;

  .project-side-design {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  & > img {
    margin-left: 20px;
  }
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 2.3rem;
      font-family: $paragraph-font;
      font-weight: bold;
    }
    &--buttons {
      button {
        background-color: $secondary-color;
        border-radius: 40%;
        border: none;
        width: 45px;
        height: 45px;
        transition: 0.5s ease-in-out;
        img {
          width: 30px;
        }
        &:hover {
          background-color: $primary-color;
        }
      }
      button + button {
        margin-left: 5px;
      }
      .left-btn {
        background-color: $primary-color;
        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
  &--content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 22px;
    margin-top: 20px;
    transition: transform 0.3s ease;
    &--projects {
      transition: 0.5s ease-in-out;
      width: 32%;
      background-color: $white;
      box-shadow: -3px 3px 9px #b3b3b3, 3px -3px 9px #a5a5a5;

      &:hover {
        transform: scale(1.05);
        box-shadow: -13px 13px 19px #b3b3b3, 13px -13px 19px #a5a5a5;
        .image-project {
          .overlay {
            bottom: 0;
            height: 100%;
          }
        }
      }
      .image-project {
        height: 70%;
        width: 100%;
        position: relative;

        & > img {
          height: 100%;
          width: 100%;
        }

        .overlay {
          position: absolute;
          bottom: 100%;
          left: 0;
          right: 0;
          /*from bottom
          bottom: 0;
          left: 0;
          right: 0;*/
          /*from right
          bottom: 0;
          left: 100%;
          right: 0;*/
          /*bottom: 0;
          left: 0;
          right: 0;*/
          background-color: $overlay-gray;
          overflow: hidden;
          width: 100%;
          height: 0;
          transition: 0.5s ease;

          .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            background-color: $primary-color;
            color: $black;
            text-decoration: none;
            font-size: 16px;
            padding: 16px 32px;
          }
        }
      }
      .about-project {
        padding: 20px;
        cursor: pointer;
        border-radius: 8px;

        .project-name {
          font-family: $paragraph-font;
          font-weight: 400;
        }
        .project-decription {
          .Project-languages {
            font-family: $paragraph-font;
            margin-top: 10px;
            span {
              transition: 0.5s ease-in-out;
              border: 1px solid $background;
              padding: 3px;
              &:hover {
                text-decoration: underline;
              }
            }
            span + span {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
