@import "../../Scss/reset";

#skills-page {
  .see-more,
  .margin {
    display: none;
  }
  .skill__section-content {
    padding-top: 0;
  }
  .skills-page-header {
    margin-top: 80px;
    h3 {
      margin-top: 10px;
      font-size: 3rem;
      letter-spacing: 10px;
      font-family: $syne-font;
      border-bottom: 1px solid $gray;
    }
  }
}
