@import "../../Scss/reset";

.about__section {
  position: relative;
  margin-top: 40px;

  .About-side-design {
    position: absolute;
    top: 20px;
    right: 0;
  }

  &-content {
    display: flex;
    justify-content: space-between;

    .about__section--rightside {
      width: 50%;
      font-size: 1.2rem;
      h2 {
        font-family: $syne-font;
        font-weight: 800;
        font-size: 3rem;
        margin-top: 10px;
      }
      .about__section--description {
        font-family: $paragraph-font;
        margin-top: 10px;
        b {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: $primary-color;
          }
          a {
            color: $primary-color;
          }
        }
      }
      .music {
        margin-left: 85%;
        margin-top: 6vh;
      }
      .light {
        margin-left: 10%;
      }
    }
  }
}
