@import "../../Scss/reset";

.contact__section {
  position: relative;

  .contact-side-design {
    position: absolute;
    left: 0;
    top: 110px;
  }
  .contact-side-design2 {
    position: absolute;
    right: 0;
    bottom: 5%;
    width: 145px;
  }
  .abs {
    margin-left: 88%;
    margin-top: 30px;
  }

  &--header {
    margin-top: 20px;

    h4 {
      font-size: 2rem;
      font-family: $paragraph-font;
      text-align: center;
    }
    p {
      font-size: 0.9rem;
      font-family: $paragraph-font;
      text-align: center;
      margin-top: 20px;
    }
  }
  &--content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    &--sidebar {
      // width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 330px;

      .call-me,
      .Email-me,
      .Address {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $black;
        background-color: $con-gray;
        border-radius: 20px;
        padding: 0 10px 0 0;
        transition: 0.2s ease-in-out;

        .img {
          img {
            width: 70px;
            height: 100%;
          }
        }

        .information {
          margin-left: 15px;

          p {
            font-size: 20px;
          }

          .label {
            margin-bottom: 5px;
            font-size: 15px;
            color: $gray;
          }
        }
        &:hover {
          text-decoration: underline;
          color: $primary-color;
        }
      }
    }

    &--form {
      width: 70%;

      .form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .flex {
          display: flex;
          width: 100%;
          gap: 6px;
        }
        .input {
          font-size: medium;
        }

        textarea {
          resize: none;
        }

        label {
          position: relative;
          width: 100%;
          .input {
            @extend %Forminput;
            height: 60px;

            & + span {
              top: 20px;
            }
          }
          .textarea {
            @extend %Forminput;
            font-weight: 500;
          }
        }

        .submit {
          @extend %submit;
        }
      }
    }
  }
}

@include mobile {
  .contact__section {
    width: 100vw;
    .contact-side-design2 {
      display: none; // remove this and put that mouse stuff
    }
    .abs {
      margin-left: 80%;
    }
    &--content {
      flex-direction: column;

      &--sidebar {
        flex-direction: row;
        height: min-content;
        justify-content: space-around;

        .information {
          display: none;
        }
        .call-me,
        .Email-me,
        .Address {
          padding: 0;
          width: min-content;
          height: min-content;
        }
      }

      &--form {
        width: 100%;
        margin-top: 20px;
        .form {
          gap: 15px;
          .flex {
            gap: 5px;
          }

          label {
            .input {
              height: 50px;

              & + span {
                top: 15px;
              }
            }
          }

          .submit {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}
