@import "../../Scss/reset";
@import "../../Scss/buttons";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: $background;
  z-index: 2;

  .logo {
    padding-top: 5px;
    padding-bottom: 5px;

    img {
      width: 60px;
      height: 60px;
      margin-right: 50px;
    }
  }
  .navlinks {
    display: flex;
    justify-content: space-between;
    width: 30rem;

    .navlist {
      list-style: none;
      a {
        text-decoration: none;
        color: $black;
        font-size: 1.3rem;
        font-weight: 500;
        font-family: $paragraph-font;
        position: relative; /* Ensure proper positioning for pseudo-element */

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 2px;
          background-color: $primary-color; /* Or any color you want */
          transition: width 0.5s ease-in-out; /* Adjust transition as needed */
        }

        &:hover::before {
          width: 100%; /* Increase width on hover */
        }
      }
    }
  }
  .navbtn {
    &__resume {
      @extend %buttonType2;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      img {
        margin-left: 5px;
      }
    }
  }
}
