@import "../../Scss/reset";

#project-page {
  .project__section {
    padding-top: 0;
    &--header {
      border-bottom: 1px solid $gray;
      margin-top: 80px;
      h3 {
        font-size: 3rem;
        letter-spacing: 10px;
        font-family: $syne-font;
      }
    }

    &--header--buttons,
    .project-Top-design {
      display: none;
    }

  }
}
