@import "../../Scss/reset";

.container {
  footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $gray;
    padding-top: 20px;
    padding-bottom: 20px;

    .footer__text {
      font-size: 1.3rem;
      font-family: $paragraph-font;
    }

    .footer__icon {
      display: flex;
      justify-content: space-between;
      width: 12vw;
      img {
        width: 35px;
      }
    }
  }
}
