%buttonType1 {
  background-color: $primary-color;
  padding: 0.4em 1em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
  font-family: $header-font;
  &:hover {
    background-color: $secondary-color;
    transform: scale(1.1);
  }
}

%buttonType2 {
  @extend %buttonType1;
  padding: 0.3em 1em;
  background-color: transparent;
  border: 3px $black solid;
  &:hover {
    background-color: transparent;
  }
}

%submit {
  width: 50%;
  margin-left: auto;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: $primary-color;
  &:hover {
    background-color: $secondary-color;
  }
}