%Forminput {
  background: transparent;
  color: $black;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: none;
  border: 1.6px solid $black;
  border-radius: 10px;
  font-family: $paragraph-font;

  &:focus + span,
  &:valid + span {
    color: $secondary-color;
    top: 0px;
    font-size: 0.9em;
    font-weight: 500;
  }
  &:placeholder-shown + span {
    top: 12.5px;
    font-size: 1.1rem;
  }

  & + span {
    color: $gray;
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 1.1rem;
    cursor: text;
    transition: 0.3s ease-in-out;
  }
}
