@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

// Color config
$background: #ecebeb;
$black: #000;
$white: #fff;
$primary-color: #0b94eb;
$secondary-color: #077bc3;
$gray: rgb(105, 105, 105);
$con-gray: rgba(198, 198, 198, 0.759);
$overlay-gray: rgba(198, 198, 198, 0.325);
$moblie-value: 850px;
$header-font: "Podkova", serif;
$paragraph-font: "Rubik", sans-serif;
$skill-font: "Montserrat", sans-serif;
$syne-font: "Syne", sans-serif;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Disable copying content */
::selection {
  background-color: $primary-color;
}

/*This is going to be transfer to the container*/
#root {
  background-color: $background;
  width: 100%;
}

//  Handle (Thumb) on hover for firefox
*:hover {
  scrollbar-color: $secondary-color transparent;
}

// Width of the scrollbar for firefox
* {
  scrollbar-width: thin;
  scrollbar-color: $primary-color transparent;
  scrollbar-width: 5px;
}
.container {
  padding: 0 10vw;
}
// width
::-webkit-scrollbar {
  width: 5px;
}

// Track
::-webkit-scrollbar-track {
  background: transparent;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $primary-color;
}

//  Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $black;
}

@import "./buttons";
@import "./card";
@import "./mobile";
@import "./input";

.block {
  display: block;
}
.blue-text {
  color: $primary-color;
}
